@import "../../ui/variables";

.menu {
    @include pantallaCelular;
    
    .title {
        @include titulo;
    }

    .form {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .botonVolver {
        @include backButton;
    }

    @media (min-width: 376px) {
        max-width: 640px;
        width: 80%;
        margin: 0 auto;
    }
}