@import "../ui/variables";

.signContainer {
    
    @include pantallaCelular;

    .title{
        @include titulo;
    }

    .signForm{
        width: 95%;
        height: 70%;
        margin: auto;

        .input {
            @include inputBlock;
        }

        .botonForm {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
        }

    }

    .botonera {
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    @media (min-width: 376px) {
        max-width: 640px;
        width: 80%;
        margin: 0 auto;
    }
}